.page-header__top {
  background-color: #ffffff;
}

.page-header__top-wrapper {
  .content-center();
  display: flex;
  min-height: 90px;
  align-items: center;
}

.page-header__logo {
  display: block;
  width: 232px;
  height: 46px;
  margin-right: 68px;
}

.page-header__searching {
  display: flex;
  width: 720px;
  height: 48px;
  margin-right: 122px;
}

.page-header__search-menu {
  width: 144px;
  border: 1px solid #dddddd;
}

.page-header__searchrow {
  width: 510px;
  padding-left: 17px;
  font-size: 15px;
  color: @bold-text;
  border: 1px solid #dddddd;
  border-left: none;
}

.page-header__gosearching {
  position: relative;
  width: 56px;
  padding: 0;
  background-color: @back-red;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border: 24px solid @back-red;
    border-color: transparent;
    border-left-color: @back-red;
    border-right-width: 0;
    border-left-width: 10px;
  }
}

.page-header__userbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 178px;
  padding-left: 12px;
}

.page-header__username {
  font-size: 18px;
  line-height: 20px;
  color: @back-red;
}

.page-header__useravatar {
  width: 37px;
  height: 37px;
  background-color: inherit;
  background-image: url("../img/icon-default-avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid @back-red;
  border-radius: 50%;
}

.page-header__userinfo {
  width: 10px;
  height: 6px;
  padding: 0;
  background-color: inherit;
  background-image: url("../img/icon-open-menu.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.page-header__sectioninfo {
  background-color: @back-blue;
}

.page-header__info-wrapper {
  .content-center();
  padding-top: 40px;
  padding-bottom: 49px;
}

.page-header__section-header {
  margin: 0;
  margin-bottom: 5px;
  font-size: 29px;
  font-weight: 300;
  color: #ffffff;
}

.page-header__breadcrumbs {
  display: flex;
  min-width: 87px;
}

.page-header__breadcrumb-item {
  position: relative;
  display: block;
  margin-right: 12px;
  font-size: 11px;
  color: #a3bfd5;
  border-bottom: 1px solid #a3bfd5;

  &--active {
    color: #4083b5;
    border: none;
  }

  &:last-child {
    margin-right: 0;
  }

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -7px;
    width: 2px;
    height: 10px;
    background-color: #a3bfd5;
    transform: rotate(20deg);
  }
}

.page-header__navigation {
  background-color: #ffffff;
}

.page-header__navigation-wrapper {
  .content-center();
  display: flex;
  min-height: 62px;
  align-items: center;

}

.page-header__announcements {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  
  &::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    width: 1px;
    height: 62px;
    background-color: #e3e3e3;
  }
}

.page-header__announcement-button {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  padding: 0;
  background-color: @back-blue;
  background-image: url(../img/icon-burger.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

.page-header__announcement-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page-header__announcement-header {
  margin: 0;
  margin-bottom: 5px;
  color: @bold-text;
}

.page-header__announcement-desc {
  margin: 0;
  font-weight: 300;
}

.page-header__mainnav {
  padding-left: 48px;
  padding-right: 48px;
}

.page-header__listnav {
  .reset-list();
  display: flex;
  flex-wrap: wrap;
}

.page-header__listnav-item {
  position: relative;
  display: block;
  margin-right: 47px;
  font-size: 15px;
  color: #404040;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      top: 36px;
      left: -25%;
      width: 150%;
      height: 2px;
      background-color: @back-red;
    }
  }
}